.fondo {
    margin-top: 8em;
    background-color: green;
    background-size: cover;
    background-position: center center;
 
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}