.title {
    text-align: center;
    
    font-size:5em;
    color:rgb(145, 160, 141);
    border-radius: 0.5em;
    padding: 0,5em;
    background-color: rgb(23, 155, 9);
    margin-left: 3em;
    margin-right: 3em;
    margin: center;
   }